* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Comfortaa', cursive;
     background-color: black ;
    

}
@import "./components/variables";
@import "./components/index";
@import "./components/header";
@import "./components/contact";
@import "./components/global";
@import "./components/footer";
@import "./components/mystery";
@import "./components/productos";




