* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Comfortaa', cursive;
     background-color: black ;
    

}
@import "./components/variables";
@import "./components/index";
@import "./components/header";
@import "./components/contact";
@import "./components/global";

.camisetas{
    display: grid;
    grid-template-rows: 10% 30% 30% 30%;
    grid-template-areas: 
    "ca1"
    "ca2"
    "ca3"
    "ca4";
    justify-content: center;
    align-content: center;

    
}
.miequipo{
@extend .titleTemplate

}
.camisetas__intro{
    grid-area: ca1;
    
    /* text-decoration: underline; */
    justify-self: center;
    align-self: center;
    /* background-color:#212529 ; */
    color: $textColor  ;
    padding: 15px;
    font-size: 40px;
    /* text-decoration: underline; */
    border-radius: 10px;
    
}

.zona1{
//     margin: 50px;
//     border-style: double;
//    background-color: $bgColor;
//     grid-area: ca2;
//     border-color: $textColor; 
@include zonaProduct(ca2)
    


}

.zona2{
    // margin:50px;
    // border-style: double;
    // background-color: white;
    // grid-area: ca3;
    @include zonaProduct(ca3)

}
.zona3{
    // margin:50px;
    // border-style: double;
    // background-color: white;
    // grid-area: ca4;
    @include zonaProduct(ca4)

}

.zona__titulo{
    padding: 10px;
    text-decoration: underline;
    color: $textColor;
}


.opcion__compras{
    display: inline-block;
     border-style: groove;
     border-radius: 10px;
     border-color: $textColor;
     margin: 50px;
     margin-bottom: 80px;
     overflow: hidden;
     background-color: white;
    /*background-color: $headerColor;*/
  
    
     
 
 }
.boton{
   display: block;
    position: relative;
    left: 31%;
    margin-bottom: 10px;
    background-color: $bgColor;
    padding: 3px;
    font-size: 15px;
    
    
    margin-right: 50px;
    
   
}
.comprar{
    color: $textColor;
    text-decoration: none;
}
.botoninicio{
    margin-right: 20px;
  
}

.img{
margin: 11px;
}





.instagram{
  

    // color: white;
    // color: $textColor ;
    border-radius: 5px;
    margin-right: 70px;
    text-decoration: none;

}
.whatsapp{
 
    // color: white;
    // color: $textColor ;
    border-radius: 5px;
    margin-right: 70px;
    text-decoration: none;

}
.facebook{

    // color: white;
    // color: $textColor ;
    border-radius: 5px;
    margin-right: 70px;
    text-decoration: none;
    
}

.footer__titulo{
    margin-top: 10px;
    font-size: 17px;
}

.footer{
   /* border-style: groove; */
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
 /*background-color: rgb(105, 173, 196);*/
//  background-image: linear-gradient(to left,rgb(105, 173, 196),rgb(79, 123, 138));
 /*background-image: linear-gradient(to left,rgb(0, 0, 0),rgb(53, 51, 51));*/
    // color: #e2e8f3;
    background-color: $headerColor;
    color: $textColor ;
    font-style: none;
    margin-top: 20px;
    height: 60px;
    
}
.redes{
    margin: 20px;
    
    
}
footer h5{
    margin-left: 20px;
    
}

.mystery{
    background-color:#0a1140;
    color: #e2e8f3; 
    margin-top: 100px;
    margin-bottom: 20px;
    margin-left: 30px;
   margin-right: 30px;
    padding:30px ;
    text-align: center;
    border-radius: 20px;
    display: grid;
    grid-template-rows: 15% 10% 20% 45% 10%;
    grid-template-areas: 
    "b1"
    "b2"
    "b3"
    "b4"
    "b5";
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center; 
    grid-row-gap: 5px;

}

.mystery__titulo{
    
    font-size: 30px;
    margin-bottom: 10px;
    color: #e2e8f3;
    grid-area: b1;
}

.mystery__subtitulo{
    font-size: 20px;
    margin-bottom: 20px;
    color: #e2e8f3;
    grid-area: b2;
    
}
.mystery__parrafo{
    color: #e2e8f3;
    grid-area: b3;
}
.mystery__img{
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 100%;
    grid-area: b4;
     margin-bottom: 20px;
    
}
.mysterry__button{
    grid-area: b5;
   
}



.mystery__video{
    display: inline-block;
    border-radius: 20px;
  
   margin: 40px;
   color: #e2e8f3;
   text-align: center;
   padding: 10px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   align-content: center;
   margin-top: 50px;
   margin-bottom: 50px;


   
}
.mystery__video h3{
    color: #e2e8f3;
    align-self: center;
    margin-left: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-decoration: underline;
    
}
.caja{  
    border-radius: 5%;
    justify-content: center;
   align-items: center;
   align-content: center;

}

.mystery__video iframe{
    width: 250px;
    height: 200px;
    border-radius: 20px;
    padding: 10px;
    
}





.equipos{
   padding-bottom: 10px;
}


.imagen{
    width: 200px;
   height: 160px;
    object-fit: contain;
    border-radius: 90%;
    padding: 10px;
}
.header i{
    display: none;
}





.imagen:hover{
    animation-name: escudo;
    animation-duration: 2s;


}
@keyframes escudo{
    0%{
transform: scale(1);
    }
    100%{
        transform: scale(1.2);
    }
}
.mystery__video:hover{
    animation-name: escudo;
    animation-duration: 2s;
}
.limpiar:hover{
    background-image: linear-gradient(to left, rgb(241, 239, 238), rgb(148, 140, 140));
    animation-name: formulario;
    animation-duration: 1s;
    background-size:400%,100% ;
    animation-timing-function: linear;
    animation-iteration-count:infinite ;
}
.enviar button:hover{
    background-image: linear-gradient(to left, rgb(241, 239, 238), rgb(148, 140, 140));
    animation-name: formulario;
    animation-duration: 1s;
    background-size:400%,100% ;
    animation-timing-function: linear;
    animation-iteration-count:infinite ;
}
@keyframes formulario{
    0%{
        background-position: 50%,50%;
    }
    100%{
        background-position: 100%,0%;
    }
}

/*Media Queries*/
@media screen and (max-width:600px) {
 
    
    .header{
        flex-direction: row;

    }
    nav{
        display: none;
    }
    .header i{
        display: block;
        font-size: 20px;
        margin-right: 25px;
    }
    .inicio{
        grid-template-columns: 1fr;
        grid-template-rows: 110px  110px  110px 110px;
        
    }
    .inicio__titulo{
        width: 100%;
        margin: 40px;
        font-size: 30px;
        

    }
    .inicio__subtitulo{
        width: 100%;
        margin: 10px;
        font-size: 20px;
    }
    .inicio__parrafo{
        width: 100%;
        margin: 10px;
    font-size: 12px;
    margin-bottom: 50px;
    }
    .inicio__img{
        margin-bottom: 50px;
        margin-top: 50px;
    }
    .div1{
        grid-template-columns: 1fr;
        grid-template-rows: 10% 30% 30% 30%;
      
        grid-template-areas: 
        "ele1 ele1 ele1"
        "ele2 ele2 ele2"
        "ele3 ele3 ele3"
        "ele4 ele4 ele4";
        margin: 20px;
       
    }
    .mystery__titulo{
        width: 100%;
        margin-right: 40px;
        font-size: 30px;
        

    }
    .mystery__subtitulo{
        width: 100%;
        margin-right: 40px;
        font-size: 20px;
    }
    .mystery__parrafo{
        width: 100%;
        margin-right: 40px;
    font-size: 12px;
    }
    .mystery__video iframe{
        width: 170px;
        height: 100px;
    }
   

    .camisetas{
        
        grid-template-rows: 4% 32% 32% 32%;
        grid-template-areas: 
        "ca1"
        "ca2"
        "ca3"
        "ca4";
        }
       
        /*.opcion__compras{
            margin: 100px;   
        }*/
         .camisetas__intro{
             font-size: 30px;
         }

        

   
    
    

   .contacto{
   /* margin: 40px;*/
    
   }
   .contacto__titulo{
    font-size: 20px;
    }
    .nombre{
    font-size: 14px;
    } 
    .mail{
    font-size: 14px;
    display: flex;
    flex-direction: column;

    }
    .sexo{
    font-size: 14px;  
    }
    .telefono{
    font-size: 14px;
    }
    .reseñas{
    font-size: 14px;  
    }
  .footer {
       flex-direction: row;
       font-size: 12px;
       gap: 1rem;
       margin: 0;
   }
   .footer__titulo{
       font-size: 10px;
   }
   .redes{
       display: flex;
       flex-direction: row;
       font-size: 10px;
       margin: 0px;
   }
   .redes a{
       margin: 10px;
   }
}