
.whatsapp{
 
 
    border-radius: 5px;
    margin-right: 70px;
    text-decoration: none;

}
.facebook{

 
    border-radius: 5px;
    margin-right: 70px;
    text-decoration: none;
    
}



.footer{
  
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: $headerColor;
    color: $textColor ;
    font-style: none;
    margin-top: 20px;
    height: 60px;

    &__titulo{
    margin-top: 10px;
    font-size: 17px;
}
h5{
    margin-left: 20px;
}
  &__redes{
    margin: 20px;
    
    &__instagram{
  

      
        border-radius: 5px;
        margin-right: 70px;
        text-decoration: none;
    
    }
    &__whatsapp{
        border-radius: 5px;
        margin-right: 70px;
        text-decoration: none;
    }
    &__facebook{
        border-radius: 5px;
        margin-right: 70px;
        text-decoration: none;
    }
}  
}


@media screen and (max-width:600px) {
    .footer {
        flex-direction: row;
        font-size: 12px;
        gap: 1rem;
        margin: 0;
        
        &__titulo{
        font-size: 10px;
    }
    .footer__redes{
        display: flex;
        flex-direction: row;
        font-size: 10px;
        margin: 0px;

            &__instagram{
        font-size: 10px;
    }
    &__facebook{
        font-size: 10px;
    }
    &__whatsapp{
        font-size: 10px;
    }
     a{
        margin: 10px;
    }
    }
    }
   
    

    
}